<footer>
    <div class="f-info">
        
    
    <div class="f-info-socialMedia">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div> &copy; WanderLust private Limited</div>
    <div class="links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
</footer>