<% layout('layouts/boilerplate') -%>


<body> 
    <div class="back">
    <div class="container">
        <h1 class="error-h1">404</h1>
        <p class="error-p1">Oops! The page you are looking for doesn't exist.</p>
        <p class="error-p2">Return to <a class="error-a"href="/allListings">homepage</a> or check the URL and try again.</p>
    </div>
</div>
</body>


